body{
  font-family: 'Courier New', monospace;
}

.content {
  max-width: 500px;
  margin: auto;
}

th, td {
  border-bottom: 1px solid #ddd;
}

td,th {
  border-right: 1px solid #ddd;
}

td:hover {background-color: #ff9797;}